*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:rgb(36, 35, 35);
}
section{
    position:absolute;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:2px;
    flex-wrap: wrap;
    overflow: hidden;

}

section span{
    /* color:rgb(29, 29, 34); */
    position: relative;
    display:block;
    width:calc(6.25vw - 2px);
    height:calc(6.25vw - 2px);
    background:rgb(38, 40, 40);
    z-index: 2;
    transition:1.2s;

}

section .signin{
    position:absolute;
    width:400px;
    background:#222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    border-radius:5px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);

}
section .signin .content
{
    /* position:absolute; */
    display:flex;
    width:100%;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap:40px;


}
section .signin .content h2{
    font-size:30px;
    color:aqua;
    text-transform: uppercase;
}

section .signin .content .form{
    width:100%;
    gap:25px;
    display: flex;
    flex-direction: column;
}
section .signin .content .form .inputbox{
    position:relative;
    width:100%;
}
section .signin .content .form .inputbox input{
    position: relative;
    width:100%;
    background:#333;
    outline:none;
    border:none;
    padding:25px 10px 7.5px;
    border-radius: 5px;
    color:rgb(66, 230, 29);
    font-weight: 500px;
    font-size:28px;

}
section .signin .content .form .inputbox i{
    position:absolute;
    left:0;
    padding:15px 10px;
    color:fuchsia;
    transition:0.5s;
    pointer-events:none;
}
section .signin .content .form .inputbox input:focus~i,
section .sginin .content .form .inputbox input:valid~i
{
    color:rgb(234, 76, 105);
    transform:translateY(-17.5px);

}

section .signin .content .form .links
{
    position:relative;
    width:100%;
    display:flex;
    justify-content: space-between;
}
section .signin .content .form .links a{
    text-decoration: none;
    color:lightcyan;
}

section .signin .content .form .links a:nth-child(2)
{
    color:rgb(224, 240, 116);
}

section .signin .content .form .inputbox input[type="submit"]
{
    color:black;
    background:rgb(25, 245, 25);
    padding:15px;
    font-size:30px;
    letter-spacing: 3px;
    cursor: pointer;
}
section span:hover{
    background:rgb(157, 225, 49);
    transition:0s;
}
section::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    background: linear-gradient(#000,rgb(14, 237, 14),#000);
    transition: 0s;
    animation:animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(100%);
    }
}

.servmsg h2{
	color:rgb(96, 254, 5);
	position:absolute;
	top:2px;
	right:0px;
	padding:10px;
	font-size:30px;
	animation: anim 10s ;
	animation-fill-mode: forwards;
	border:3px solid;
	border-style:outset;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
	z-index:1000;
}
@keyframes anim{
		
		50%{
		opacity:0.5;
		}
		75%{
		opacity:0.3;
		}
	100%{
	opacity:0;
	}
	
	
}